<div class="container paddBtm50">
        <div class="row">
                <div *ngIf="showLoader" class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                </div>
                <table>
                        <caption>List of Commits</caption>
                        <thead>
                                <tr>
                                        <th scope="col">Committer</th>
                                        <th scope="col">Commit Message</th>
                                        <th scope="col">Commit Id</th>
                                        <th scope="col">Comments Count</th>
                                        <th scope="col">Date</th>
                                </tr>
                        </thead>
                        <tbody *ngIf="commitsData?.length > 0">
                                <tr *ngFor="let commit of commitsData">
                                        <td data-label="Committer">{{commit?.commit?.committer?.name}}</td>
                                        <td data-label="Commit Message">{{commit?.commit?.message}}</td>
                                        <td data-label="Commit Id" class="textOverflow">{{commit?.sha}}</td>
                                        <td data-label="Comments Count">{{commit?.commit?.comment_count}}</td>
                                        <td data-label="Date">{{commit?.commit?.committer?.date | date: 'short'}}</td>
                                </tr>
                        </tbody>
                        <tbody *ngIf="commitsData?.length == 0">
                                <tr>
                                        <td classs="textCenter" colspan="3">No commits are available.</td>
                                </tr>
                        </tbody>
                </table>
        </div>
        <a [routerLink]="['/home']">Go to Home page</a> | <a [routerLink]="['/branch',userId,repoName]">Branches</a>
</div>